 body{
  
  font-size:16px;
  background-color:#d8d8d8;
  line-height:1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin:0;
}

.App{
  width:100%;
  margin:0 auto;
}

.nav{
  padding:1%;
  position: fixed;
  bottom:0;
  z-index:10;
  background-color:#fff0f7;
  width:100%;
}

.logo{
  margin-right:2rem;
  margin-left:1rem;
}

.gen-info{
  text-align: center;
  font-size:3rem;
  line-height:5rem;
}

.cells{
  -webkit-column-count: 3;
  column-count: 3;

  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap:20px;

  -webkit-column-fill: initial;
  column-fill: initial;

  padding-left:2rem;
  padding-right:2rem;
}

.cell{
  width:100%;
  
  border:1px solid #e3e3e3;
  border-radius:2px;
  display: inline-block;
  margin-bottom:20px;
  background-color: #eee;
}

.cell__image{
  max-width:100%;
  position: relative;;
}

.cell__image img{
  width:100%;
}

.cell__info{
  padding:1% 5%;
  /* border-top:1px solid black;
  margin-top:3%;   */
}

.cell__fact{
  display:inline-block;
  width:80%;
}

.cell__star{
  display:inline-block;
  max-width:10%;
}

.favorite {
  cursor: pointer;
  position: absolute;
  bottom:15px;
  right:15px;
}
 
.star polygon:hover {
  fill: #ffd055 !important;
}

polygon {
  fill: #d8d8d8;
  fill-rule: nonzero;
}


.active polygon{
  fill: #ffd055;
}

.focus-view{
  opacity:0.1;
  transition:200ms;
}

.focus-view--active{
  opacity:1;
}



.btn{
  background-color:white;
  border:1px solid #e3e3e3;
  padding:10px 20px;
  margin-left:5px;
  margin-right:5px;
  cursor: pointer;
}

.btn:hover{
  border:1px solid #abafaf;
  transition:200ms;
}

.btn--active{
  color:white;
  background-color:#abafaf;
  
}